.dropdown-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin: auto;
  width: max-content;
}

.nav-link-button button {
  margin-bottom: 0.5rem;
  margin-left: 15px;
  margin-top: 1rem;
}

.nav-link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.just {
  margin-top: 3rem;
}
